
   body {
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }

    /* Global container */
    .container {
      width: 97% !important;
    }

    /*  Header*/
    header {
      background: white;
      padding-top: 10px;
      min-height: 99px;
      width: 100%;
    }
    header a {
      color: black;
      text-decoration: none !important;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
    }

    header li {
      display: inline;
      padding-right: 30px;
      text-decoration: none !important;
    }
    header nav {
      float: right;
      margin-top: 15px;
    }

    nav li {
      font-size: 15px;
      margin-right: 11px;
      }

    header img {
      float: left;
      height: 67px;
      width: 94px;
      overflow: hidden;
      margin-left: 4.5px;
      margin-top: 5px;
    }

    .button_3 {
      background: black;
      color: white !important;
      width: 165px;
      height: 45px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 22px !important;
      /* margin: 0 auto; */
    }

  #part2 {
    width: 100%;
    height: 800px;
    /* background-image: url("../images/fpo.png"); */
    background-image: linear-gradient(to right, black, gray);
    }

    #part2 h1 {
      font-size: 45px;
      margin-bottom: 30px;
      margin-left: 43px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 3.5px;
      margin-top: 444.5px;

    }

    .button_2 {
      height: 44px;
      width: 164px;
      background: none;
      border: 2.5px solid white;
      letter-spacing: 2px;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      text-transform: uppercase;
      margin-left: 43.5px;
      margin-top: -2.25px;
    }

    /* Newsletter */
    #newsletter {
      padding: 55px;
      color: black;
      background: #a9a9a9;
      height: 400px;
      width: 100%;
    }

    #newsletter h2 {
      text-transform: uppercase;
      font-size: 42px;
      margin-top: -5px;
      letter-spacing: 5px;

    }

    #newsletter p {
      line-height: 25px;
      font-size: 21px;
      margin-top: 29px;
      letter-spacing: 2.5px;
    }

    #newsletter form {
      float:left;
      margin-top: 8px;
      text-align: center;
      margin-left: -2px;

    }

    #newsletter input[type="email"] {
      padding: 25px;
      width: 630px;
      height: 86px;
      font-size: 35px;
    }

    #newsletter input[type="number"]{
      width: 376px;
      height: 86px;
      padding: 28px;
      font-size: 38px;
      margin-left: 44px;
    }

    #newsletter button[type=submit1] {
        width: 249px;
        height: 86px;
        background: black;
        border: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 21px;
        color: #ffffff;
        margin-left: 25px;
        letter-spacing: 5px;
        font-weight: bold;
      }

      .form-inline {
        flex-flow: row wrap;
      }

      .form-inline input {
        border: none;
        vertical-align: middle;
      }

    h3 a {
      text-decoration: none !important;
      color: black !important;
    }

    #part3 {
      margin-top: 80px;
      padding-bottom: 170px;
      width: 100%;
      height: 900px;
    }

    #part3 h3 {
      font-size: 38px;
      margin-bottom: 28px;
      letter-spacing: 0.7px;
    }

    #part3 p {
      font-size: 20px;
      line-height: 38px;
      letter-spacing: 3.5px;

      }

    .toggle {
      width: 100%;
      box-sizing: border-box;
      color: black;
      display: none;
      font-size: 20px;
    }

    /* FOOTER */
    footer {
      padding: 100px;
      color: #a9a9a9;
      background-color: #333333;
      text-align: center;
      height: 500px;
    }

      #logo1 img{
      width: 219px;
      height: 154px;
      margin-top: -20px;
    }
/* THE BOX IN THE FOOTER */
     .border {
      margin-top: 105px;
      border: 3px solid gray;
      font-size: 14px;
      width: 493px;
      height: 76px;
      text-align: center;
      display: inline-block;
      color: gray;
      letter-spacing: 1.5px;
      font-weight: bold;
    }

      .border p {
      margin-top: 9px;
    }

    /* Media Queries / Responsive*/

    @media(max-width: 768px) {
      header nav,
      #newsletter h1,
      #newsletter form, #part3{
        float: none;
        text-align: center;
        width: 100%;
      }

      .toggle {
        display: block;
        margin-left: 160px;
         }

       ul {
         width: 100%;
         display: none;
       }

       header img{
         margin-top: 7px;
       }

       .active {
         display: block;
       }

        header{
          padding-bottom:20px;
        }

      #part2 h1{
        margin-top: 370px;
        margin-left: 20px;
        /* font-size: 30px; */
      }
      #part2 .button_2{
        margin-left: 20px;
      }

      #part2{
        height: 750px !important;
      }

      /* NEWSLETTER RESPONSIVE */
      #newsletter{
        height: 100%;
      }

      #newsletter h2{
        font-size: 25px ;
        font-weight: bold;
        margin-left: -23px;
        margin-top: 10px;
      }

      #newsletter p{
        font-size: 14px ;
        margin-left: -23px;
        margin-top: 40px;
        margin-bottom:-15px;
      }

      #newsletter form input[type="email"], input[type="number"], input button[type="submit1"]{
        height: 100%;
        display: block !important;
        height: 60px !important;
        width: 375px !important;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 23px;
      }
      #newsletter form input[type="email"]{
        margin-left: -23px;
        }

      #newsletter input[type="number"] {
        margin-left: -23px;
        font-size: 23px;
      }

      #newsletter  button[type="submit1"] {
        margin-left: -23px !important;
        height: 60px;
        width: 375px;
        font-size: 15px;
        margin-bottom: 35px;
      }

      #part3{
        height: auto;
        text-align: left;
      }

      #logo1 img{
       margin-top: -30px;

      }
      .menu {
      font-size: 60px;
      margin-bottom: -20px;
      margin-top: -15px;
      }
      .border  {
        width: 385px;
        height: 105px;
        margin-left: -75px;
        margin-top: 50px;
      }

      .border p{
        font-size: 16px;
      }
    }
